<!DOCTYPE html>
<html>
<head>
	<title>Milan.co | shorten url</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		body{
			
			background-image: url('https://miro.medium.com/max/11796/1*IC7_pdLtDMqwoqLkTib4JQ.jpeg');
			background-size:cover;
		}
	</style>
</head>
<body>
{% block content %}
{% endblock %}
</body>
</html>
